@import url('https://fonts.googleapis.com/css?family=Hanalei+Fill" rel="stylesheet"');

$color-error: #ff00ea;
$color-secondary: #F0DCB6;
$color-primary: #7779ff;
$color-success: #ffeb77;
$color-white: #fff;
$color-black: #000;
$color-lightgrey: #B5BAC3;
$color-grey: rgb(130, 122, 132);
$color-darkgrey: rgb(36, 90, 196);
$color-darkcyan: rgb(116, 139, 0);

$pad: 0.5em;

$acme-font: 'Hanalei Fill', sans-serif;
$shadow-font: 'Shadows Into Light', cursive;
$font-primary: 'Lato', sans-serif;
$font-secondary: 'Roboto Mono', monospace;

$bg-texture: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");